@import '../../common/scss/constants.scss';

section#settings {
  padding-top: 2rem;
  padding-bottom: 3rem;
  .title {
    margin: 1rem;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;

    .switch-toggle-wrapper {
      padding-left: 2rem;
    }

    label.checkbox {
      cursor: pointer;
      margin: 0.5rem;
      font-size: 1.5rem;

      input {
        display: none;

        & + span:before {
          content: '';
          margin-right: 0.5rem;
          display: inline-block;
          height: 1.3rem;
          width: 1.3rem;
          background-color: #fff;
          border: 2px solid #333;
          border-radius: 5px;
          box-sizing: border-box;
        }

        &:checked + span:before {
          color: $color-primary;
          border: 2px;
          border-radius: 5px;
          background: url('/assets/images/checkbox-checked.svg') center center /
            cover;
          background-color: $color-primary;
          animation: tick 180ms ease-in;
        }

        &:disabled {
          $disabled-color: #a4a4a4;
          & + span {
            color: $disabled-color;

            &::before {
              border-color: $disabled-color;
            }
          }
          &:checked + span::before {
            background-color: $disabled-color;
          }
        }

        @keyframes tick {
          0% {
            transform: scale(0);
          }
          90% {
            transform: scale(1.4);
            border-radius: 25px;
          }
          100% {
            transform: scale(1);
            border-radius: 15px;
          }
        }
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }
}
