.files-structure-visualizer {
  background-color: yellowgreen;
  border: 1px solid black;
  padding: 2rem;

  .icon-and-text-container {
    display: flex;
    align-items: center;

    .icon {
      font-size: 2rem;
    }

    .text {
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }
  }

  .folder-content {
    border-left: 2px solid black;
    margin-left: 1rem;

    .item-container {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 1.4rem;
        background-color: black;
      }

      .icon-and-text-container {
        margin-left: 0.6rem;
      }
    }
  }
}
