section#eslint-setup {
  background-color: #e8fffc;

  .centering-container {
    .title-container {
      .icon {
        color: #4137d0;
      }
    }
  }

  .img-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
    display: inline-block;

    img {
      display: inline-block;
      width: 100%;
      border-radius: 15px;
    }
  }
}
