.code-snippet {
  margin: 0.5rem 3rem;
  font-size: 1.2rem;
  line-height: 1.7;
  border-radius: 5px;
  overflow: auto;

  pre code {
    font-size: 1rem;
  }

  @media (max-width: 430px) {
    margin: 0.5rem 0.1rem;
  }
}
