section#introduction {
  .centering-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .why-avoid-CRA {
      border: 1px solid black;
      background-color: #f0f0f0;
      margin: 1rem;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 1s 0.5s, opacity 1s 0.5s;

      &.show {
        max-height: 60rem;
        opacity: 1;
      }
    }
  }
}
