@import './constants.scss';

.centering-container {
  max-width: 1000px;
  margin: 0 auto;
  border-left: 2px dashed black; // just for dev, to be removed later
  border-right: 2px dashed black; // just for dev, to be removed later
  box-sizing: border-box;
}

.btn {
  font-size: 0.9rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: $color-primary;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: lighten($color-primary, 5%);
  }
}
