section#webpack-babel-setup {
  background-color: #f16464;

  .centering-container {
    .title-container {
      .icon {
        &.webpack {
          color: #5299c8;
        }
        &.babel {
          color: #f9dc3e;
        }
      }
    }
  }
}
