section#webpack-babel-setup {
  background-color: #f16464;

  .centering-container {
    .title-container {
      .icon {
        &.webpack {
          color: #5299c8;
        }
        &.babel {
          color: #f9dc3e;
        }
      }
    }

    .webpack-babel-basic-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    ul.webpack-packaged-additional-info {
      padding: 0 1.5rem;
    }
  }
}
