section#prettier-setup {
  background-color: #eab3f1;

  .centering-container {
    .title-container {
      .icon {
        color: #6da861;
      }
    }

    .img-container {
      box-sizing: border-box;
      width: 100%;
      padding: 0 10%;
      display: inline-block;

      img {
        display: inline-block;
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}
