@import './common/scss/utility.scss';

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

p,
button,
label {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}
