section#css-setup {
  background-color: #ffc14f;

  .centering-container {
    .title-container {
      .icon {
        &.css {
          color: #264de4;
        }
        &.sass {
          color: #c76495;
        }
      }
    }
  }
}
